<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>jQuery Pagination Example (twbs-pagination)</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
    <link rel="stylesheet" href="stylesheets/style.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="wrapper">
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <ul id="pagination-demo" class="pagination-sm"></ul>
                </div>
            </div>
            <div id="page-content" class="page-content">Page 1</div>
        </div>
    </div>
    <script>
        $('#pagination-demo').twbsPagination({
            totalPages: 16,
            visiblePages: 6,
            next: 'Next',
            prev: 'Prev',
            onPageClick: function(event, page) {
                //fetch content and render here
                $('#page-content').text('Page ' + page) + ' content here';
            }
        });
    </script>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js'></script>
    <script src="scripts/script.js"></script>

</body>

</html>